# KNN (K-Nearest Neighbors)

In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
clients = pd.read_csv("../../../../../data/raw/creditos.csv")
clients.head()

   edad  credito  cumplio
0    18   363112        0
1    19   477965        1
2    20   239072        0
3    22   195265        0
4    22   482174        0